<div class="container-fluid">
    <div id="Historia" class="row align-items-center hero">
        <div class="col-lg-2 offset-lg-2">
            <p>Historia</p>
            <h1>Las mejores cervezas</h1>
            <p>Creamos las mejores recetas para que tengas la combinacion perfecta de tu cerveza con la mejor picada</p>
        </div>
    </div>
</div>
<div class="row my-3">
    <div id="Novedades" class="col-md-4 offset-md-2 py-3">
        <h2>Novedades</h2>
        <ul class="lista-novedades">

            <li><a href="#" data-bs-toggle="modal" data-bs-target="#examplemodal"><img src="images/novedades01.jpg">
                    Nuevas
                    recetas 1</a></li>
            <li><a href="#"><img src="images/novedades01.jpg"> Nuevas recetas 2</a></li>
            <li><a href="#"><img src="images/novedades01.jpg"> Nuevas recetas 3</a></li>
            <li><a href="#"><img src="images/novedades01.jpg"> Nuevas recetas 4</a></li>
            <li><a href="#"><img src="images/novedades01.jpg"> Nuevas recetas 5</a></li>

        </ul>
    </div> <!--cierra novedades-->

    <div class="modal fade" tabindex="-1" id="examplemodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Menu 1</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Cerveza roja - Picada maritima </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Volver al menu</button>
                </div>
            </div>
        </div>
    </div><!--cierra modal-->
    <div class="col-md-3 my-3">
        <div class="rounded py-4 testimonios">
            <h2 class="text-center" testimonios></h2>
            <div id="carouselExampleindicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleindicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleindicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleindicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h2>"Siempre elijo el menu 1, para mi el mejor"</h2>
                            <p>Guadalupe, Mar del plata</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h2>"el menu 2 es la combinacion perfecta"</h2>
                            <p>Jose, san antonio</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h2>"el menu 3 sin pensarlo 2 veces"</h2>
                            <p>Miguel, Necochea</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

    </div> <!--cierra testimonio-->
</div> <!--cierra testimonios y novedades-->
<!--comienza historia-->

<div id="historia" class="row align-items-center py-4">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">
    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">
    </div>
    <div class="col-12 d-sm-none">
        <img src="images/historia_3.jpg" alt="historia 3" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
        <h2>historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos magnam consequuntur explicabo
            dolorum, impedit quasi blanditiis natus nemo aliquam? Neque fugiat quae veritatis impedit repellendus
            repudiandae est libero corporis.</p>
    </div>
</div><!--cierra historia-->
<!--comienzo nosotros-->

<div class="row row-cols-lg-2 row-cols-md-3 g-3">
    <div class="col">
        <div class="card h-100">
            <img src="images/nosotros04.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">empleado</h5>
                <p class="card-text">xxxxxx</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="images/nosotros03.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">empleado</h5>
                <p class="card-text">This is a short card.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="images/nosotros02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">dueño</h5>
                <p class="card-text">xxxxx</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="images/nosotros01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">dueño </h5>
                <p class="card-text">xxxxx</p>
            </div>
        </div>
    </div>
</div>
<!--fin nosotros-->
<!--abre visitanos-->
<div id="visitanos" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3144.522959273447!2d-57.55303712461923!3d-37.98826074403011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584dbfef5eb1b99%3A0x910b7c41a797b701!2sEspa%C3%B1a%20890%2C%20B7600CXR%20Mar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1695261558671!5m2!1ses!2sar"></iframe>
        </div>
    </div>
</div><!--cierra visitanos-->
<!--abre formulario-->
<!--<div class="col-md-3 my-3">-->
<div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
    <h2>contactanos</h2>
    <form class="row g-3" action="/" method="post">
        <div class="col-6">
            <label for="nombre" class="form-label">nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="col-6">
            <label for="apellido" class="form-label">apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido">
        </div>
        <div class="col-12">
            <label for="email" class="form-label">email</label>
            <input type="email" class="form-control" id="email" placeholder="email@gmail.com" name="email">
        </div>
        <div class="col-12">
            <label for="telefono" class="form-label">telefono</label>
            <input type="text" class="form-control" id="telefono" placeholder="223...." name="telefono">
        </div>
        <div class="col-12">
            <label for="mensaje" class="form-label">mensaje</label>
            <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">enviar</button>
        </div>
</div>
</form>
</div><!--cierra formulario-->